@inject HttpClient Http
<table class="table">
    <thead>
        <tr>
            <th scope="col">Total Users</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">@NumberOfUsers</td>
        </tr>
    </tbody>
</table>
