<!-- Activity.razor -->
@page "/Activity"
@page "/Popup.razor"
@using LMS_G7.Shared

<h3>Activities</h3>


<!-- Existing activities with default values -->
<table>
    <tbody>
        <!-- Visible fields -->
        <tr>
            <td>
                <label>E-Learning Sessions</label>
            </td>
            <td>
                <button name="e-learn" @onclick="showelearn">Assign</button>
            </td>
        </tr>

        <tr>
            <td>
                <label>Lectures</label>
            </td>
            <td>
                <button name="lecture" @onclick="showLecture">Assign</button>
            </td>
        </tr>

        <tr>
            <td>
                <label>Practice Sessions</label>
            </td>
            <td>
                <button name="sessions" @onclick="showSession">Assign</button>
            </td>
        </tr>
     
        <tr>
            <td>
                <label>Assignments</label>
            </td>
            <td>
                <button name="asssignments" @onclick="showAssign">Assign</button>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button @onclick="ShowActivity">Add Activity</button>
            </td>
        </tr>

        <!-- Hidden fields -->
        @if (showActivityItems)
        {
            <tr>
                <td>
                    <label>Add Activity</label>
                </td>
                <td>
                    <!-- Hidden fields specific to showActivityItems -->
                    <p><input id="Name" type="text" placeholder="Activity Name" @bind="newActivity.Name" /></p>
                    <p><input id="activity" type="text" placeholder="Activity Type" @bind="newActivity.ActivityType" /></p>
                    <p><input id="description" type="text" placeholder="Description" @bind="newActivity.Description" /></p>
                    <p><input id="startdate" type="text" placeholder="Start Date" @bind="newActivity.StartDate" /></p>
                    <p><input id="enddate" type="text" placeholder="End Date" @bind="newActivity.EndDate" /></p>
                    <button @onclick="AddActivity">Save Activity</button>
                </td>
            </tr>
        }

        @if (elearnitems)
        {
            <tr>
                <td>
                    <label>E-Learning</label>
                </td>
                <td>
                    <!-- Hidden fields specific to elearnitems -->
                    <p><input id="Name" type="text" placeholder="Show Details About the Activity" @bind="newActivity.Name" /></p>

                    <button>Delete</button>
                    <button>Edit</button>                   
                </td>                
            </tr>
            <tr>
                <td style="align-content: center;">
                    <button @onclick="OpenPopup">Upload Documents</button>
                    <Popup IsVisible="@showPopup" IsVisibleChanged="HandlePopupVisibilityChange" />
                </td>                
            </tr>
            
        }
        @if (lectureitems)
        {
            <tr>
                <td>
                    <label>Lectures</label>
                </td>
                <td>
                    <!-- Hidden fields specific to elearnitems -->
                    <p><input id="Name" type="text" placeholder="Show Details About the Activity" @bind="newActivity.Name" /></p>

                    <button>Delete</button>
                    <button>Edit</button>
                </td>
            </tr>
            <tr>
                <td style="align-content: center;">
                    <button @onclick="OpenPopup">Upload Documents</button>
                    <Popup IsVisible="@showPopup" IsVisibleChanged="HandlePopupVisibilityChange" />
                </td>
            </tr>

        }
        @if (practiceitems)
        {
            <tr>
                <td>
                    <label>Practice sessions</label>
                </td>
                <td>
                    <!-- Hidden fields specific to elearnitems -->
                    <p><input id="Name" type="text" placeholder="Show Details About the Activity" @bind="newActivity.Name" /></p>

                    <button>Delete</button>
                    <button>Edit</button>
                </td>
            </tr>
            <tr>
                <td style="align-content: center;">
                    <button @onclick="OpenPopup">Upload Documents</button>
                    <Popup IsVisible="@showPopup" IsVisibleChanged="HandlePopupVisibilityChange" />
                </td>
            </tr>

        }
        @if (assignitems)
        {
            <tr>
                <td>
                    <label>Assignments</label>
                </td>
                <td>
                    <!-- Hidden fields specific to elearnitems -->
                    <p><input id="Name" type="text" placeholder="Show Details About the Activity" @bind="newActivity.Name" /></p>

                    <button>Delete</button>
                    <button>Edit</button>
                </td>
            </tr>
            <tr>
                <td style="align-content: center;">
                    <button @onclick="OpenPopup">Upload Documents</button>
                    <Popup IsVisible="@showPopup" IsVisibleChanged="HandlePopupVisibilityChange" />
                </td>
            </tr>

        }
    </tbody>
</table>

