@page "/listofusers"
@attribute [Authorize(Roles = "Admin, Teacher, Student")]

<h3>UserList</h3>
<UserStats></UserStats>
<UserList ExtraCaption="This is the list of the Users"></UserList>

<AuthorizeView Roles="Admin, Teacher">
    <Authorized>
        <a href="@("useradd")" class="btn btn-outline-primary">Add New User</a>
    </Authorized>
</AuthorizeView>
