<!-- Popup.razor -->
<div class="overlay"  style="@(IsVisible ? "display: flex;" : "display: none;")">
    <div class="popup"  style="background-color: lightgray; padding: 10px;">
        <span class="close-btn" @onclick="ClosePopup">X</span>
        <h2>Upload Document</h2>
        <p />
        <InputFile OnChange="HandleFileSelected" />        
        <p />
        <label for="textInput">Description</label>
        <p>
        <input type="text" id="textInput" @bind="EnteredText">
        </p>
        <br /><br />
        <button @onclick="SubmitForm">Add</button>
        <button @onclick="CancelForm">Cancel</button>
    </div>
</div>
